.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 400;
   src: url("./font/Rubik-Regular\ \(1\).woff2") format("woff2");
   font-display: swap;
 } */
 /* @import url(//db.onlinewebfonts.com/c/266447f91e71c4700d74aab76fbc3870?family=Bodoni+MT+Black); */
  
  html {
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden  */
  }
  
  body {
    width: 100%;
    min-height: 100%;
    font-family: "Rubik";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  button,
  a{
   cursor: pointer;
   text-decoration: none;
   color: #000;
  }
  p,
  h2,
  h1,
  h3{
    margin: 0;
  }
  li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .main__h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    margin-right: 25px;
  }
  .main__li{
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: #535658;
  }
  .section__li-h2{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 284px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .div{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .div__span{
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
  }
  .div__span--color{
    color: #8D9295;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: line-through;
  }
  .span-button{
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
  .main{
    padding: 80px 0 80px;
  }
  .section__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main__section{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
  }
  .main__ul{
    display: flex;
  }
  .main__li{
    margin-right: 25px;
  }
  .section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section__li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ECF0F4;
    border-radius: 5px;
    margin-right: 20px;
    height: 496px;
  }
  .section__li:nth-child(4){
    margin-right: 0;
  }
  .button--color{
    width: 174px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #F1D264;
    border: none;
  }
  .div-flex{
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
  }
  .div-input__input{
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ECF0F4;
    border-radius: 5px;
    text-align: center;
  }
  .div-input{
    position: relative;
  }
  .div-input__button{
    position: absolute;
  }
  .div-input__button1{
    top: 15px;
    left: 10px;
    background-color: inherit;
    border: none;
    color: #8D9295;
  }
  .div-input__button2{
    top: 17px;
    left: 70px;
    background-color: inherit;
    border: none;
    color: #8D9295;
  }
  .button__svg--color{
    margin-right: 12px;
  }
  .section__li-div{
    position: relative;
  }
  .section__li-div__svg{
    position: absolute;
    top: 20px;
    left: 280px;
  }
  .section__li-div__svg1{
    position: absolute;
    top: 60px;
    left: 280px;
  }
  .section__li-div__svg2{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .section-button{
    background-color: inherit;
    border: none;
  }
  .section-button___svg{
    background-color: inherit;
    border: none;
    margin-left: 63px;
  }
  .section-button___svg1{
    background-color: inherit;
    border: none;
    margin-right: 63px;
  }
  @media(max-width:768px){
    .section-button{
      display: none;
    }
    .button__svg--color{
      margin-right: 15px;
    }
    .div-input{
      display: none;
    }
    .div-flex{
      margin-bottom: 20px;
    }
    .button--color{
      width: 220px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: 
      #F1D264;
      border: none;
    }
    .div{
      margin-bottom: 20px;
    }
    .main__section{
        display: flex;
        flex-direction: column;
        align-items: start;
      }
      .main__ul{
        display: flex;
        flex-direction: column;
      }
    .main{
        padding: 40px 6% 40px;
      }
    img{
        width: 260px;
        height: 260px;
    }
    .main__h2{
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
      }
      .main__li{
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #535658;
      }
      .section__li-h2{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        width: 220px;
        margin-top: 10px;
        margin-bottom: 15px;
      }
      .section__li{
        height: 441px;
      }
  }